<?xml version="1.0"?>
<config>
	<modules>
		<Perfectus_Mainslider>
			<version>0.2.6</version>
		</Perfectus_Mainslider>
	</modules>
	<frontend>
		<routers>
			<mainslider>
				<use>standard</use>
				<args>
					<module>Perfectus_Mainslider</module>
					<frontName>mainslider</frontName>
				</args>
			</mainslider>
		</routers>
		<layout>
			<updates>
				<mainslider>
					<file>perfectus_mainslider.xml</file>
				</mainslider>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<mainslider>
				<use>admin</use>
				<args>
					<module>Perfectus_Mainslider</module>
					<frontName>mainslider</frontName>
				</args>
			</mainslider>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<perfectus_mainslider translate="title" module="mainslider">
											<title>Mainslider Configuration</title>
											<sort_order>0</sort_order>
										</perfectus_mainslider>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mainslider>
					<file>perfectus/perfectus_mainslider.xml</file>
				</mainslider>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<mainslider>
				<class>Perfectus_Mainslider_Model</class>
				<resourceModel>mainslider_mysql4</resourceModel>
			</mainslider>
			<mainslider_mysql4>
				<class>Perfectus_Mainslider_Model_Mysql4</class>
				<entities>		  
					<mainslider>
						<table>perfectus_mainslider</table>
					</mainslider>
					<mainslider_store>
						<table>perfectus_mainslider_store</table>
					</mainslider_store>
				</entities>
			</mainslider_mysql4>
		</models>
		<resources>
			<mainslider_setup>
				<setup>
					<module>Perfectus_Mainslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mainslider_setup>
			<mainslider_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mainslider_write>
			<mainslider_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mainslider_read>
		</resources>
		<helpers>
			<mainslider>
				<class>Perfectus_Mainslider_Helper</class>
			</mainslider>
		</helpers>
		<blocks>
			<mainslider>
				<class>Perfectus_Mainslider_Block</class>
			</mainslider>
		</blocks>
	</global>
</config> 
