<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Perfectus_Unicase>
            <version>0.1.0</version>
        </Perfectus_Unicase>
    </modules>                   
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unicase after="Mage_Adminhtml">Perfectus_Unicase_Adminhtml</unicase>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<perfectus_unicase>
					<file>perfectus/perfectus_unicase.xml</file>
				</perfectus_unicase>
			</updates>
		</layout>
	</adminhtml>
    <frontend>
        <translate>
            <modules>
                <Perfectus_Unicase>
                    <files>
                        <default>Perfectus_Unicase.csv</default>
                    </files>
                </Perfectus_Unicase>
            </modules>
        </translate>
    </frontend>
    <global>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<Perfectus_Unicase_Model_Observer>
						<class>Perfectus_Unicase_Model_Observer</class>
						<method>setTemplateVariables</method>
					</Perfectus_Unicase_Model_Observer>
				</observers>
			</controller_action_layout_load_before>
			<controller_action_layout_generate_blocks_after>
				 <observers>
					<Perfectus_Unicase_Model_Observer>
						<class>Perfectus_Unicase_Model_Observer</class>
						<method>setCustomTemplate</method>
					</Perfectus_Unicase_Model_Observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<!--<controller_action_layout_load_before>
				<observers>
					<customer_is_logged_in_observer>
						<class>yourmodule/observer</class>
						<method>beforeLoadLayout</method>
					</customer_is_logged_in_observer>
				</observers>
			</controller_action_layout_load_before>-->
		</events>
        <blocks>
            <unicase>
                <class>Perfectus_Unicase_Block</class>
            </unicase>
        </blocks>
        <helpers>
            <unicase>
                <class>Perfectus_Unicase_Helper</class>
            </unicase>
        </helpers>
        <models>
            <unicase>
                <class>Perfectus_Unicase_Model</class>
				<resourceModel>unicase_mysql4</resourceModel>
            </unicase>
			<unicase_mysql4>
                <class>Perfectus_Unicase_Model_Mysql4</class>
            </unicase_mysql4>
        </models>
        <resources>
            <perfectus_unicase>
				<setup>
					<module>Perfectus_Unicase</module>
					<class>Perfectus_Unicase_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </perfectus_unicase>
            <unicase_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unicase_write>
            <unicase_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unicase_read>
        </resources>
    </global>
	<default>
        <unicase_settings>
            <general>
                <notice_static_block>unicase_custom_block_for_notice</notice_static_block>
            </general>
            <header>
                <type>0</type>
                <language_flag>1</language_flag>
                <static_block>unicase_custom_block_for_header</static_block>
                <static_block_2>unicase_custom_block_for_header_type_10</static_block_2>
                <menu_title>SHOP BY CATEGORY</menu_title>
                <sticky_header>0</sticky_header>
            </header>
        </unicase_settings>
    </default>
</config>