<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <daeon_kasuva>
            <version>0.1.0</version>
        </daeon_kasuva>
    </modules>                   
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kasuva after="Mage_Adminhtml">daeon_kasuva_Adminhtml</kasuva>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<daeon_kasuva>
					<file>daeon/daeon_kasuva.xml</file>
				</daeon_kasuva>
			</updates>
		</layout>
	</adminhtml>
    <frontend>
        <translate>
            <modules>
                <daeon_kasuva>
                    <files>
                        <default>daeon_kasuva.csv</default>
                    </files>
                </daeon_kasuva>
            </modules>
        </translate>
    </frontend>
    <global>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<daeon_kasuva_Model_Observer>
						<class>daeon_kasuva_Model_Observer</class>
						<method>setTemplateVariables</method>
					</daeon_kasuva_Model_Observer>
				</observers>
			</controller_action_layout_load_before>
			<controller_action_layout_generate_blocks_after>
				 <observers>
					<daeon_kasuva_Model_Observer>
						<class>daeon_kasuva_Model_Observer</class>
						<method>setCustomTemplate</method>
					</daeon_kasuva_Model_Observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<!--<controller_action_layout_load_before>
				<observers>
					<customer_is_logged_in_observer>
						<class>yourmodule/observer</class>
						<method>beforeLoadLayout</method>
					</customer_is_logged_in_observer>
				</observers>
			</controller_action_layout_load_before>-->
		</events>
        <blocks>
            <kasuva>
                <class>daeon_kasuva_Block</class>
            </kasuva>
        </blocks>
        <helpers>
            <kasuva>
                <class>daeon_kasuva_Helper</class>
            </kasuva>
        </helpers>
        <models>
            <kasuva>
                <class>daeon_kasuva_Model</class>
				<resourceModel>kasuva_mysql4</resourceModel>
            </kasuva>
			<kasuva_mysql4>
                <class>daeon_kasuva_Model_Mysql4</class>
            </kasuva_mysql4>
        </models>
        <resources>
            <daeon_kasuva>
				<setup>
					<module>daeon_kasuva</module>
					<class>daeon_kasuva_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </daeon_kasuva>
            <kasuva_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kasuva_write>
            <kasuva_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kasuva_read>
        </resources>
    </global>
	<default>
        <kasuva_settings>
            <general>
                <notice_static_block>kasuva_custom_block_for_notice</notice_static_block>
            </general>
            <header>
                <type>0</type>
                <language_flag>1</language_flag>
                <static_block>kasuva_custom_block_for_header</static_block>
                <static_block_2>kasuva_custom_block_for_header_type_10</static_block_2>
                <menu_title>SHOP BY CATEGORY</menu_title>
                <sticky_header>0</sticky_header>
            </header>
        </kasuva_settings>
    </default>
</config>