<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <daeon_Megamenu>
            <version>0.1.0</version>
        </daeon_Megamenu>
    </modules>

    <global>
        <helpers>
            <megamenu>
                <class>daeon_Megamenu_Helper</class>
            </megamenu>
        </helpers>
        <blocks>
            <megamenu>
                <class>daeon_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <models>
            <megamenu>
                <class>daeon_Megamenu_Model</class>
            </megamenu>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>daeon_Megamenu</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
			
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <megamenu module="megamenu">
                    <file>daeon_megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
</config>
