<?xml version="1.0"?>
<config>
    <modules>
        <Perfectus_Fltproducts>
            <version>0.1.0</version>
        </Perfectus_Fltproducts>
    </modules>
    <frontend>
        <routers>
            <fltproducts>
                <use>standard</use>
                <args>
                    <module>Perfectus_Fltproducts</module>
                    <frontName>fltproducts</frontName>
                </args>
            </fltproducts>
        </routers>
        <layout>
            <updates>
                <fltproducts>
                    <file>perfectus_fltproducts.xml</file>
                </fltproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fltproducts>
				<use>admin</use>
				<args>
					<module>Perfectus_Fltproducts</module>
					<frontName>fltproducts</frontName>
				</args>
			</fltproducts>
        </routers>
    </admin>
    <adminhtml>
	   <acl>
			<resources>
				<all>
					<title>FilterProducts</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fltproducts translate="title" module="fltproducts">
											<title>FilterProducts</title>
										</fltproducts>
									</children>
								</config>
							</children>
						</system>
						<Perfectus_Fltproducts>
							<title>FilterProducts Module</title>
							<sort_order>10</sort_order>
						</Perfectus_Fltproducts>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fltproducts>
					<file>perfectus_fltproducts.xml</file>
				</fltproducts>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fltproducts>
                <class>Perfectus_Fltproducts_Model</class>
                <resourceModel>fltproducts_mysql4</resourceModel>
            </fltproducts>
            <fltproducts_mysql4>
                <class>Perfectus_Fltproducts_Model_Mysql4</class>
                <entities>
                    <fltproducts>
                        <table>perfectus_fltproducts</table>
                    </fltproducts>
                </entities>
            </fltproducts_mysql4>
        </models>
        <resources>
            <fltproducts_setup>
                <setup>
                    <module>Perfectus_Fltproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fltproducts_setup>
            <fltproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fltproducts_write>
            <fltproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fltproducts_read>
        </resources>
        <blocks>
            <fltproducts>
                <class>Perfectus_Fltproducts_Block</class>
            </fltproducts>
        </blocks>
        <helpers>
            <fltproducts>
                <class>Perfectus_Fltproducts_Helper</class>
            </fltproducts>
        </helpers>
		<!--<events>
			<controller_action_layout_load_before>
				<observers>
					<Perfectus_Fltproducts_Model_Observer>
						<class>Perfectus_Fltproducts_Model_Observer</class>
						<method>setTemplateVariables</method>
					</Perfectus_Fltproducts_Model_Observer>
				</observers>
			</controller_action_layout_load_before>
		</events>-->
    </global>
	<default>
		<fltproducts>
			<config1>
				<active>0</active>
				<max_product>3</max_product>
				<title>Bestseller Products</title>
			</config1>
			<config2>
				<active>0</active>
				<max_product>3</max_product>
				<title>Fetured Products</title>
			</config2>
			<config3>
				<active>0</active>
				<max_product>3</max_product>
				<title>Most Viewed Products</title>
			</config3>
			<config4>
				<active>0</active>
				<max_product>3</max_product>
				<title>New Products</title>
				<type>Recently Added</type>
			</config4>
			<config5>
				<active>0</active>
				<title>All Products</title>
			</config5>
			<config6>
				<active>0</active>
				<max_product>3</max_product>
				<title>Promotional Products</title>
			</config6>
			<config7>
				<active>0</active>
				<max_product>3</max_product>
				<title>Recently Ordered Products</title>
			</config7>
			<config8>
				<active>0</active>
				<max_product>3</max_product>
				<title>Specials Products</title>
			</config8>
		</fltproducts>
	</default>
</config>