<?xml version="1.0"?>
<config>
	<tabs>
		<unicaseexnsions translate="label" module="fltproducts">
			<label>Unicase Extensions</label>
			<sort_order>300</sort_order>
		</unicaseexnsions>
	</tabs>
    <sections>
        <fltproducts translate="label" module="fltproducts">
            <label>Filter Products</label>
            <tab>unicaseexnsions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			
            <groups>
				<!--<newprodcattabs translate="label" module="fltproducts">
                    <label>New Product Category Tabs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/newproductcattabs_list" name="newproductcattabs" template="perfectus/fltproducts/newproduct_cat_tabs.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
	                  	</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <max_cat translate="label" module="fltproducts">
                            <label>Maximum Display Category</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_cat>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </row_count>
                    </fields>
					
                </newprodcattabs>-->
				<newproduct translate="label" module="fltproducts">
                    <label>New Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/newproduct_home_list" name="newproducts" template="perfectus/fltproducts/home_newproduct.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </newproduct>
				<featured translate="label" module="fltproducts">
                    <label>Featured Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/featured_home_list" name="featured" template="perfectus/fltproducts/home_featured.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </featured>
				<bestsellers translate="label" module="fltproducts">
                    <label>BestSellers Products </label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/bestsellers_home_list" name="bestsellers" template="perfectus/fltproducts/home_bestsellers.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </bestsellers>
				<specials translate="label" module="fltproducts">
                    <label>Specials Products </label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/specials_home_list" name="specials" template="perfectus/fltproducts/home_specials.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </specials>
				<mostviewed translate="label" module="fltproducts">
                    <label>MostViewed Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>700</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/mostviewed_home_list" name="mostviewed" template="perfectus/fltproducts/home_mostviewed.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </mostviewed>
				<allproducts translate="label" module="fltproducts">
                    <label>All Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/allproducts_home_list" name="allproducts" template="perfectus/fltproducts/home_allproducts.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
	                      <label>Enabled</label>
	                      <frontend_type>select</frontend_type>
	                      <source_model>adminhtml/system_config_source_yesno</source_model>
	                      <sort_order>1</sort_order>
	                      <show_in_default>1</show_in_default>
		                  <show_in_website>1</show_in_website>
		                  <show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </allproducts>
				<promotional translate="label" module="fltproducts">
                    <label>Promotional Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/promotional_home_list" name="promotional" template="perfectus/fltproducts/home_promotional.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </promotional>
				<lastordered translate="label" module="fltproducts">
                    <label>RecentlyOrdered Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[<span style="padding: 10px; background: rgb(255, 249, 233) none repeat scroll 0% 0%; display: inline-table;"> <span style="color:Red">{{block type="fltproducts/lastordered_home_list" name="lastordered" template="perfectus/fltproducts/home_lastordered.phtml"}}</span></span>]]>
					</comment>
                    <fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="fltproducts">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<max_product translate="label" module="fltproducts">
                            <label>Maximum Display Products</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_product>
						<products_styles translate="label" module="fltproducts">
                            <label>Product Display Styles</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_displaystyles</source_model>
							<comment>
                                <![CDATA[Set Styles of Products Display.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_styles>
						<column_count translate="label" module="fltproducts">
                            <label>Column Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fltproducts/system_config_source_setting_numscolumn</source_model>
							<comment>
                                <![CDATA[Show Nums of slides in slider.]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
						<row_count translate="label" module="fltproducts">
                            <label>Row Count</label>
                            <frontend_type>select</frontend_type>
							<source_model>fltproducts/system_config_source_setting_numsproducts</source_model>
							<comment>
                                <![CDATA[Set number of products display per slide. this option applicable only Product Display Styles = Micro Slider.]]>
                            </comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
								<products_styles>micro</products_styles>
							</depends>
                        </row_count>
                    </fields>
                </lastordered>       
             </groups>
        </fltproducts>
    </sections>
</config>
