<?xml version="1.0"?>
<config>
    <modules>
        <Perfectus_Ajaxfilter>
            <version>1.0.0</version>
        </Perfectus_Ajaxfilter>
    </modules>
    <global>
        <helpers>
            <ajaxfilter>
                <class>Perfectus_Ajaxfilter_Helper</class>
            </ajaxfilter>
        </helpers>
        <blocks>
            <ajaxfilter>
                <class>Perfectus_Ajaxfilter_Block</class>
            </ajaxfilter>
            <catalog>
                <rewrite>
                    <layer_filter_price>Perfectus_Ajaxfilter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <layer>Perfectus_Ajaxfilter_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Perfectus_Ajaxfilter_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <resources>
            <ajaxfilter_setup>
                <setup>
                    <module>Perfectus_Ajaxfilter</module>
                    <class>Perfectus_Ajaxfilter_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxfilter_setup>
            <ajaxfilter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxfilter_write>
            <ajaxfilter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxfilter_read>
        </resources>
    </global>
	<adminhtml>
		<layout>
			<updates>
				<ajaxfilter>
					<file>perfectus/perfectus_ajaxfilter.xml</file>
				</ajaxfilter>
			</updates>
		</layout>
	</adminhtml>
    <frontend>
        <layout>
            <updates>
                <ajaxfilter>
                    <file>perfectus_ajaxfilter.xml</file>
                </ajaxfilter>
            </updates>
        </layout>
        <routers>
            <ajaxfilter>
                <use>standard</use>
                <args>
                    <module>Perfectus_Ajaxfilter</module>
                    <frontName>ajaxfilter</frontName>
                </args>
            </ajaxfilter>
            <catalog>
                <args>
                    <modules>
                        <Perfectus_Ajaxfilter before="Mage_Catalog">Perfectus_Ajaxfilter_Catalog</Perfectus_Ajaxfilter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Perfectus_Ajaxfilter before="Mage_CatalogSearch">Perfectus_Ajaxfilter_CatalogSearch</Perfectus_Ajaxfilter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <default>
        <price_ajaxfilter>
            <price_ajaxfilter_settings></price_ajaxfilter_settings>
            <price_ajaxfilter_conf>
				<timeout>100</timeout>
				<use_image>0</use_image>
                <handle_color>#fff</handle_color>
				<handle_border_color>#ABD07E</handle_border_color>
                <background_color>#F1F1F1</background_color>
                <range_color>#C3C3C3</range_color>
                <handle_width>20</handle_width>
                <handle_height>20</handle_height>
                <ajaxfilter_width>auto</ajaxfilter_width>
                <ajaxfilter_height>6</ajaxfilter_height>
				<textbox>1</textbox>
                <textBoxCss>border:1px solid #f2f2f2; color:#555; padding:3px; width:50px;</textBoxCss>
				<goBtnText>Filter</goBtnText>
            </price_ajaxfilter_conf>
			<price_ajaxfilter_settings>
				<ajaxfilter_loader_active>1</ajaxfilter_loader_active>
				<include_jquery>0</include_jquery>
				<include_jquery_ui>1</include_jquery_ui>
			</price_ajaxfilter_settings>
            <ajax_conf>
                <overlay_color>#000000</overlay_color>
                <overlay_opacity>0.5</overlay_opacity>
                <loading_text></loading_text>
                <loading_text_color>#ffffff</loading_text_color>
                <loading_image />
            </ajax_conf>
        </price_ajaxfilter>
    </default>
</config>